.App {
  text-align: center;
  color: rgb(106,106,106);
}

.query-results {
  max-width: 1200px;
  margin: 24px auto;
}

.empty-table {
  text-align: center;
}

.query-form {
  height: 120px;
}

.error {
  color: rgb(255,0,0);
  margin: 24px;
}