.App {
  text-align: center;
  color: rgb(106,106,106);
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 15px 50px;
}

.cb-logo-header {
  width: 200px;
  height: 47px;
}

.query-results {
  max-width: 1200px;
  margin: 24px auto;
}

.empty-table {
  text-align: center;
}

.query-form {
  height: 120px;
}

.error {
  color: rgb(255,0,0);
  margin: 24px;
}