@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/proxima_nova_reg-webfont.eot');
  src: url('./assets/fonts/proxima_nova_reg-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/Proxima-Nova-Reg.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/proxima_nova_reg-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/proxima_nova_reg-webfont.woff') format('woff'); /* Modern Browsers */
  font-style: normal;
  font-weight: 400;
}

.App {
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  text-align: center;
  color: rgb(106,106,106);
}

/********************************* HEADER ************************************/
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 50px;
  background-color: rgb(250,250,250);
  border-bottom: 1px solid rgb(224,224,224);
  color: rgb(79,79,79);
  height: 40px;
}

.header-container h5 {
  color: #1F4564;
  font-size: 18px;
  line-height: 20px; 
}

.headline {
  font-size: 20px;
}

.cb-logo-header {
  width: 150px;
  height: 35px;
  cursor: pointer;
}

/********************************* QUERY FORM *************************************/
.query-results {
  max-width: 1200px;
  margin: 24px auto;
}

.query-form {
  height: 120px;
}

.query-form input {
  margin: 0 8px;
  padding: 8px 16px;
  border: none;
  border-bottom: 1px solid rgb(79,79,79);
}

.query-form input:last-child {
  border: none;
  background-color: rgb(92,160,248);
  color: #FFF;
  font-weight: 600;
  font-size: 14px;
  min-width: 64px;
  padding: 12px 18px;
  letter-spacing: .2px;
  border-radius: 3px;
  cursor: pointer;
}

.error {
  color: rgb(255,0,0);
}

/************************ CANCEL QUERIES MODAL **********************************/
/* styles from delete query modal here: https://chartbeat.com/advanced-queries/saved/ */
.modal-container {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: rgba(38,73,92,.8);
  top: 0;
  left: 0;
  overflow: hidden;
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(50% - 120px);
  left: calc(50% - 240px);
  width: 480px;
  background: #FFF;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,.28);
  border-radius: 3px;
  overflow: hidden;
}

.modal header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FFF;
  height: 50px;
  width: 100%;
  padding: 4px 0;
}

.modal h2 {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #666;
}

.modal section {
  padding-bottom: 32px;
  background: #F4F4F4;
}

.delete-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  font-size: 15px;
  line-height: 20px;
}

.delete-text p {
  margin: 0;
}

.modal button {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: .25px;
  border-radius: 4px;
  overflow: hidden;
  min-width: 110px;
  line-height: 32px;
  text-align: center;
  opacity: 1;
  display: inline-block;
  height: 40px;
  padding: 4px 40px;
  border: none;
  cursor: pointer;
}

.modal button:hover {
  box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 1px 1px 0 rgba(0,0,0,.2);
  transition: box-shadow .1s ease;
}

.action-cancel {
  color: #46A0FF;
  background: #FFF;
  margin-right: 12px;
}

.action-delete {
  color: #FFF;
  background: #E35F6B;
}

/***************************** NO QUERIES *********************************/
.no-queries-container p {
  font-weight: 800;
}